<div>
    <section *ngIf="clientes$ | async" fxLayout="column">
        <table fxFlex mat-table [dataSource]="dataSource">
            <ng-container [matColumnDef]="displayedColumns[0]">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumns[1]">
                <th mat-header-cell *matHeaderCellDef>Apellido</th>
                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumns[2]">
                <th mat-header-cell *matHeaderCellDef>Edad</th>
                <td mat-cell *matCellDef="let element">{{ element.edad }}</td>
            </ng-container>
            <ng-container [matColumnDef]="displayedColumns[3]">
                <th mat-header-cell *matHeaderCellDef>Fecha Nacimiento</th>
                <td mat-cell *matCellDef="let element">{{ element.fechaNacimiento }}</td>
            </ng-container>
        </table>
    </section>
</div>