<form (ngSubmit)="onSubmit()" #clientForm="ngForm">
    <mat-form-field>
        <input matInput placeholder="Nombre" name="nombre" ngModel required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Apellido" name="apellido" ngModel required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Edad" type="number" name="edad" ngModel required>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" name="fechaNacimiento" ngModel
            required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button type="submit">Registrar Cliente</button>
</form>